name: CI - Build & Push Lambda Image

on:
  push:
    branches:
      - main
      - dev

env:
  AWS_REGION: ap-south-1                   
  ECR_REPOSITORY: datagrokr-intern-devops  
  PYTHON_VERSION: "3.10"                    
  IMAGE_TAG: ${{ github.sha }}             

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: repository checkout
        uses: actions/checkout@v4

      - name: Python setup
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Python dependencies installation
        if: exists('requirements.txt')
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and push image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        run: |
          echo "ECR registry: $ECR_REGISTRY"
          IMAGE_URI=$ECR_REGISTRY/${ECR_REPOSITORY}:${IMAGE_TAG}
          IMAGE_URILATEST=$ECR_REGISTRY/${ECR_REPOSITORY}:latest
          echo "Building image: $IMAGE_URI"
          docker build \
            --build-arg PYTHON_VERSION=${PYTHON_VERSION} \
            -t $IMAGE_URI -t $IMAGE_URILATEST .

          echo "Pushing image to ECR..."
          docker push $IMAGE_URI
          docker push $IMAGE_URILATEST

          echo "IMAGE_URI=$IMAGE_URI" >> $GITHUB_ENV

      - name: Print image url
        run: |
          echo "Pushed image: $IMAGE_URI"
